---
layout: default
---

<div class="home">
  <span class="body">
    I'm a data scientist who works on interdisciplinary problems. Trained as a
    biophysical chemist, I love analyzing complicated data, figuring out what
    they mean, and deciding how to visually communicate the results to others.
  </span>

  <!-- Posts -->
  <h1 class="page-heading">Recent Projects</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    <li class="gallery">
      <div class="post-title">

        <!-- title/link -->
        <!-- fix liquid<a class="post-tag" href="{{site.baseurl | where:'tag', 'genetics'}}"> -->
        <div class="post-tag">{{ post.tag }}</div>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <a class="post-sub" href="{{ post.url | prepend: site.baseurl }}">{{ post.subtitle }}</a>
      </div>

      <!-- image -->
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <img class="post-icon" src="{{ post.icon }}"></img> </a>

        <!-- co-authors -->
        {% if post.co-authors %}
        <div class="post-coauthor">with {{ post.co-authors }}</div>
        {% endif %}

      </li>



      {% endfor %}
    </ul>




    <!-- RSS feed
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

  </div>
