---
layout: default
---
<div class="post">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

    <!-- co-authors -->
    {% if page.co-authors %}
    <span class="username">with {{ page.co-authors }}</span>
    {% endif %}

  </header>


  <article>
    <div class="post-content">
      {{ content }}
    </div>

    {% if page.img %}
    <div class="post-img">
      <a href="{{ page.link | prepend: site.baseurl }}">
        <img src="{{ page.img }}"></img>
      </a>
    </div>
    {% endif %}

  </article>

</div>
